/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 99.5%;
  width: 99.5%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
